$primary-font: Helvetica, sans-serif;
$primary-color: #fff;


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($dimension, $color) {
    -webkit-box-shadow: $dimension $color;
    -moz-box-shadow: $dimension $color;
    box-shadow: $dimension $color;
}

@mixin background-size($bgsize) {
    -webkit-background-size: $bgsize;
    -moz-background-size: $bgsize;
    -o-background-size: $bgsize;
    background-size: $bgsize;
}