<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <div>
        <form ng-submit="LoginModalCtrl.submit(_email, _password)">
            <input type="email" ng-model="_email" />
            <input type="password" ng-model="_password" />
            <button>Submit</button>
        </form>
        <button ng-click="LoginModalCtrl.cancel()">Cancel</button>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>