<form name="loginform" ng-submit="submit()">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <div>
            <input type="email" ng-model="email" required/>
            <input type="password" ng-model="password" required/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Login</button>
        <div class="btn btn-warning" ng-click="cancel()">Cancel</div>
    </div>
</form>