<div>{{details.room.name}}</div>
<div>{{details.room.description}}</div>
<img ng-src="{{details.room.thumbnail}}"/>
<div>
    <span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5" ng-checked="details.room.stars === 5" disabled>
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4" ng-checked="details.room.stars === 4" disabled>
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" ng-checked="details.room.stars === 3" disabled>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2" ng-checked="details.room.stars === 2" disabled>
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1" ng-checked="details.room.stars === 1" disabled>
        <label for="rating1">1</label>
    </span>
</div>
<div class="rating-bar">
    <div class="rate rate-{{details.room.difficulty}}">
        <span class="animate blue"></span>
    </div>
</div>
<div><img src="./resources/images/clock_green.png" alt="escapetime"/>{{details.room.escapetime}} perc</div>
<div><img src="./resources/images/group.png" alt="players"/>{{details.room.min_players}} - {{details.room.max_players}} játékos</div>
<section class="timeline-wrapper">

    <ul class="timeline">
        <li class="timeline-event" ng-repeat="entry in details.timeline">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="timeline-thumb {{entry.thumb}}"><span>{{entry.date}}</span></div>
            <div class="timeline-content-perspective">
                <div class="timeline-content">
                    <div class="timeline-content-inner">
                        <h3>{{entry.title}}</h3>
                        <span class="timeline-panel-close" ng-click="details.closePanel()"></span>
                        <div ng-bind-html="details.printHtml(entry.content)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>